<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" >
        <h4 class="my-0 mr-md-auto font-weight-normal " >Какое-то название  <i class="fa fa-trello fa-lg"></i></h4>
        
     
        <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link  " routerLink="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">Список дел</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/about">О пограмме</a>
        </li>
       
      </ul>
</div>
    <div class="jumbotron "  >
 <main role="main" class="inner cover">
        <h3 class="cover-heading">Mенеджер задач (ToDo приложение)</h3>
        <p class="lead">ToDo приложения сильно помогают в самоорганизации. Данное приложение подходит для быстрых заметок.
                Приложение позволяет создавать задачи, отмечать выполнение и удалять их по мере необходимости.</p> 
            <ol><h5 class="cover-heading">Интерфейс:</h5>
                <li>Наличие русской локализации</li>
                <li>Удобство и скорость работы со списками</li>
            </ol></main>
     
</div>
